.imageCenter{
    margin: auto;
    width: 250px;


}
.textoCentro{
    width: 50%;
    margin: auto;

}

.pessoas{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
}