body{
    margin: 0px;
    background-color: #eefff8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(2,53,53);
    background: linear-gradient(90deg, rgba(2,53,53,1) 0%, rgba(1,89,88,1) 100%);
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 25vh;
}

.name{
    font-size: 20px;
    text-align: center;
}

section{
    padding-right: 2%;
    padding-left: 2%;
}
a{
    color: black;
    text-decoration: none;
}

h1 a{
    color: white;
}

.titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom:  0px;
}

.subtitulo{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50vh;
}

h1, h2, h3{
    color: #015958;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.botoesNav{
    margin-top: 15px;
    padding: 0px;
    list-style-type: none;
}

.listaNav{
    display: inline;
}

.listaNav a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.listaNav a:hover{
    color: #C7FFED;
}